Options -Indexes
RewriteEngine On

# Keep direct access to /public intact.
RewriteRule ^public/ - [L]

# Keep existing files/folders at project root intact.
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Forward all other requests to /public.
RewriteRule ^(.*)$ public/$1 [L]
